<?xml version="1.0" encoding="utf-8"?>

<manifest
    package="fi.mabrosim.weatherwidget"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/weather_widget_preview"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".WeatherWidgetConfigureActivity"
            android:theme="@style/ConfigurationActivityTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".OpenUrlActivity"
            android:theme="@style/WebViewActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".WeatherWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weatherwidget_info"/>
        </receiver>

        <service
            android:name=".WeatherWidget$UpdateService"
            android:exported="false">
            <intent-filter>
                <action android:name="fi.mabrosim.weatherwidget.action.CLICK"/>
                <action android:name="fi.mabrosim.weatherwidget.action.UPDATE_INTERVAL_EXPIRED"/>
            </intent-filter>
        </service>
    </application>

</manifest>
